// app global css in SCSS form
body.body--dark {
  --q-primary: #D1D1D3;
  --q-dark: #16161e;
  --q-dark-page: #1a1b26;
  --q-edge: black;
  --color-text: white;

  //Color theme
  --q-main-layout-bkgd: #1F212D;
  --q-menus-layout-bkgd:#30313B;
  --q-icons: #D1D1D3;
  --q-reg-text: #D1D1D3;
  --q-special-text: white;
  --q-menu-highlight:#474851;
  --q-main-highlight: #30313B; 
}

body {
  --q-primary: #78b5de;
  --q-dark: #d4d6e4;
  --q-dark-page: #e1e2e7;
  --q-edge: white;
  --color-text: black;
  
  // golden-layout background
  --color-layout-base-bkgd: var(--q-main-layout-bkgd); 
  // golden-layout tabs
  --color-layout-active-tab-bkgd:var(--q-menu-highlight); // tab hover mode background
  --color-layout-active-tab-fore: var(--q-reg-text); // tab hover mode text color
  --color-layout-focused-tab-bkgd: var(--q-main-layout-bkgd); // selected tab background
  --color-layout-single-tab-container-fore: var(--q-reg-text);  //tab text color
  --color-layout-single-tab-container-bkgd: var(--q-menus-layout-bkgd); //tabs background
  --color-layout-header-bkgd: var(--q-menus-layout-bkgd);  //header background

  // left menu
  --color-leftmenu-bkgd: var(--q-menus-layout-bkgd);

  // project tree
  --color-projecttree-bkgd: var(--q-menus-layout-bkgd);

  // library page
  --color-library-tableview-header-bkgd: var(--q-main-layout-bkgd); //title and authors header background
  --color-library-tableview-row-bkgd: var(--q-main-layout-bkgd); //table rows background
  --color-library-tableview-highlighted-row-bkgd: var(--q-main-highlight); // selected table row background
  --color-library-toolbar-bkgd: var(--q-main-layout-bkgd); //toolbar background
  --color-library-tableview-bkgd: var(--q-main-layout-bkgd); //library background
  --color-library-treeview-bkgd: var(--q-main-layout-bkgd); //library column

  // settings page
  --color-settings-tabs-area-bkgd: var(--q-main-layout-bkgd); //settings menu column
  --color-settings-tab-panel-bkgd: var(--q-main-layout-bkgd); // settings page background
  --color-settings-card-bkgd: var(--q-main-layout-bkgd); //settings cards

  // reader page
  --color-pdfreader-viewer-bkgd: var(--q-main-layout-bkgd); //pdf-reader background
  --color-pdfreader-toolbar-bkgd: var(--q-main-layout-bkgd); //pdf toolbar background
  --color-pdfreader-colorpicker-bkgd: var(--q-main-layout-bkgd); // pdf colorpicker 

  // right menu
  --color-rightmenu-tabs-bkgd: var(--q-menus-layout-bkgd); //right menu tabs bar background
  --color-rightmenu-tab-panel-bkgd: var(--q-menus-layout-bkgd); //right menu background

  // plugin store
  --color-pluginstore-dialog-bkgd: var(--q-menus-layout-bkgd);

  // hoverPane
  --color-hoverpane-border: var(--q-main-layout-bkgd);
  --color-hoverpane-bkgd: var(--q-main-layout-bkgd);
}

html {
  // hide the global scrollbar
  overflow: hidden;
  // not allow user selection in the app
  // enable selection in specific places
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none
}

a {
  color: var(--q-reg-text);
}

//ALL buttons
.buttons {
  border-radius: 8px;
  background: #007AFF;
  border: 2px solid var(--q-main-highlight); /* Added '2px solid' as an example */
  color: var(--q-special-text);

  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effect */
  
  &:hover {
    background: #007AFF; 
  }
}

// ALl menu base setup
.menu{
  border-radius: 8px;
  background: var(--q-main-layout-bkgd);
  border: var(--q-main-highlight);
}

.dialog{
  border-radius: 8px;
  background: var(--q-main-layout-bkgd);
  border: var(--q-main-highlight);

}


.q-tooltip {
  font-size: 0.8rem;
  // fixed weird line breaks for chinese tooltip
  word-break: keep-all;
  overflow: hidden;
}


.q-splitter-separator {
  background-color: var(--q-edge) !important;
  &:hover {
    background-color: rgba($primary, 0.5) !important;
    box-shadow: 0 0 0px 2px rgba($primary, 0.5);
  }
  &:active {
    background-color: rgba($primary, 0.5) !important;
    box-shadow: 0 0 0px 2px rgba($primary, 0.5);
  }
}

.q-splitter-separator-horizontal {
  background-color: var(--q-edge) !important;
  &:hover {
    background-color: rgba($primary, 0.5) !important;
    box-shadow: 0 0 0px 2px rgba($primary, 0.5);
  }
  &:active {
    background-color: rgba($primary, 0.5) !important;
    box-shadow: 0 0 0px 2px rgba($primary, 0.5);
  }
}


// scrollbar styles
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75, 75%);
  border-radius: 5px;
  &:hover {
    background: var(--q-main-highlight);
  }
}

/* corner */
::-webkit-scrollbar-corner {
  color: transparent;
}

// no hover effect on the button
.q-btn .q-focus-helper {
  display: none;
}


//Markdown - hoverpane

.hoverPane {
  position: absolute;
  width: 50%;
  max-height: 300px;
  overflow: auto;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-hoverpane-bkgd);
}

.contentPane {
  overflow: auto;
  padding: 15px;
  border-radius: 8px;
  background: transparent !important;

}

//Peek card

.peekCard {
  position: absolute !important;
  background: var(--color-pdfreader-viewer-bkgd);
  border-radius: 8px !important;
  display: none;
  z-index: 1000;

  &:hover {
    box-shadow: 0 0 0px 2px rgba(var(--q-main-layout-bkgd), 0.8) !important;
    z-index: 1001 !important;
  }
  &:active {
    box-shadow: 0 0 0px 2px rgba(var(--q-main-layout-bkgd), 0.8) !important;
    z-index: 1001 !important;
  }
}
.peekContainer {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
}

//GraphView

.square {
  width: 1rem;
  height: 1rem;
  background: var(--color-text);
}
.circle {
  width: 1rem;
  height: 1rem;
  background: var(--color-text);
  border-radius: 50%;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 1rem solid var(--color-text);
}

//Project Navigator

.project-nav-panel{
  background-color: var(--q-menus-layout-bkgd);
  overflow: hidden;

}

.menu-title{
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}


.project-tree{
  overflow-y: auto;
}

//Project tree
.dragover {
  border: 1px solid var(--q-menu-highlight);
  background-color: var(--q-menu-highlight);
}


//Action bar -- in the componenent to prevent conflict with other the general tabs
//Export dialog

.export-dialog{
  min-width: 300px;
}

//Progress dialog

.progess-dialog{
  width: 50vw;
}

//Import dialog 

.import-dialog{
  min-width: 500px;
}
//Folder tree

.q-folder-tree{
  height: 100%;
}

//Identifier dialog
.identifier-dialog{
  min-width: 500px;
}


//Project browser
.project-browser-splitter{
  position: absolute;
  width: 100%;
  height: 100%;
}

.library-right-menu-panel{
  overflow: hidden;
}

.project-action-bar{
  min-height: 36px;
  background: var(--color-library-toolbar-bkgd);
}

//Project table

.stickyHeader {
  /* height or max-height is important */
  height: 20px;

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    /* bg color is important for th; just specify one */
    background-color: var(--color-library-tableview-header-bkgd);
  }

  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th {
    top: 0;
  }
}

.tableview-row {
  background: var(--color-library-tableview-row-bkgd);
}
.tableview-highlighted-row {
  background: var(--color-library-tableview-highlighted-row-bkgd);
}

#projectList td {
  padding: 0;
}



//TableSearch row

.q-px-lg{
  font-size: 0.8rem
}


//Annotation card

.annot-card {
  min-width: 250px;
}


//Annotation List
// Styles for .q-item-annotlist will be added in the future

//Annotation Menu
// Styles for .q-menu-annotmenu will be added in the future



.color-picker{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  cursor: pointer;
  padding-left: 10px !important;
  padding-right: 10px !important;
  align-self: center;
  font-size: 1rem;

  &:hover {
    background: var(--q-menu-highlight);
    border-radius: 5px;
  }
}




//PDF reader

.PDF-reader{
  position: absolute; width: 100%; height: 100%
}

.PDF-toolBar{
  position: absolute;
  top: 0;
  background: var(--color-pdfreader-toolbar-bkgd);
}

//PDF toolbar
.toolbar{
  min-height: unset;
  height: 36px;
  background: var(--color-pdfreader-toolbar-bkgd);
  color: rgb(162, 171, 182);
}

//Right menu
.right-menu-tabs{
  background: var(--color-rightmenu-tabs-bkgd)
}


.right-menu-panel {
  height: calc(100% - 36px);
  background: var(--color-rightmenu-tab-panel-bkgd);
}

//Settings  tabs
.card {
  background: var(--color-settings-card-bkgd);
  
}

//General 


//Settings Menu

.settings-panel{
  height: 100%; background: var(--color-settings-tabs-area-bkgd);
  color: var(--q-main-highlights);
}

.settings{
  background: var(--color-settings-tab-panel-bkgd)

}


//Metainfo tab
.tab-panel {
  background: var(--color-rightmenu-tab-panel-bkgd);
}

.input {
  color: var(--color-text);
  background: var(--color-rightmenu-tab-panel-bkgd);
  border: 1px solid grey;
  font-size: 1rem;

  &:focus-visible {
    outline: none !important;
    border: 2px solid $primary;
  }
}

.link {
  color: $primary;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}
.chip {
  background-color: var(--color-rightmenu-tab-panel-bkgd);
}